
VirtualLibrary/.vs/VirtualLibrary/v15/Server/sqlite3/db.lock
VirtualLibrary/.vs/VirtualLibrary/v15/Server/sqlite3/storage.ide
VirtualLibrary/.vs/VirtualLibrary/v15/Server/sqlite3/storage.ide-shm
VirtualLibrary/.vs/VirtualLibrary/v15/Server/sqlite3/storage.ide-wal
VirtualLibrary/.vs/
VirtualLibrary/VirtualLibrary/bin/Debug/faces/faces.txt
VirtualLibrary/VirtualLibrary/bin/Debug/faces/
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.csproj.CoreCompileInputs.cache
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.pdb
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.exe
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.csprojAssemblyReference.cache
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.csproj.GenerateResource.cache
VirtualLibrary/VirtualLibrary/obj/Debug/VirtualLibrary.csproj.FileListAbsolute.txt
VirtualLibrary/VirtualLibrary/bin/Debug/VirtualLibrary.pdb
VirtualLibrary/VirtualLibrary/bin/Debug/VirtualLibrary.exe
VirtualLibrary/VirtualLibrary/bin/Debug/API/APIKEY.txt
VirtualLibrary/VirtualLibrary/bin/Debug/SQLPassword.txt
